/* General styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    margin-left: 450px;
}

nav button {
    border: hidden;
    border-radius: 5px;
    background-color: #111827;
    color: aliceblue;
}

.main-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.main-container .wave-img {
    height: 50px;
    width: 50px;
}

.intro {
    color: #787f8a;
    width: 650px;
}

.location, .availability {
    margin-top: 40px;
}

.social-icons {
    margin-top: 40px;
}

.profile-img {
    margin-left: 100px;
    width: 300px;
    box-shadow: 25px 25px 5px gray;
}

.skills-section {
    margin-top: 110px;
    text-align: center;
}

.skills-btn-container button {
    border-radius: 5px;
    background-color: gray;
    border: hidden;
}

.skills-intro {
    color: gray;
    margin-top: 10px;
}

.skills-container {
    display: flex;

    justify-content: center;
    margin-top: 40px;
    img{
        height: 50px;
    }
}
/* General Styles */
.work-section {
    margin-top: 100px;
    text-align: center;
}

.work-button-container button {
    border-radius: 5px;
    background-color: gray;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.work-intro {
    margin-top: 10px;
    color: gray;
    font-size: 18px;
}

.work-project {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.work-project.alternate-layout {
    margin-top: 100px;
    flex-direction: row-reverse;
}

.project-image {
    width: 350px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.project-details {
    margin-right: 90px;
    max-width: 600px;
    text-align: left;
}

.project-details_two {
    margin-left: 90px;
    max-width: 600px;
    text-align: left;
}

.project-description {
    margin-top: 20px;
    color: black;
    font-size: 16px;
    line-height: 1.5;
}

.project-technologies button {
    border-radius: 5px;
    background-color: gray;
    border: none;
    padding: 5px 15px;
    margin-right: 10px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.share-icon {
    margin-top: 40px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}


.skills-container div {
    margin-left: 50px;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: gray;
}
